<section class="w-full h-screen flex items-center justify-center flex-col gap-[16px]">

    <img src="{{ 'check_circle.png' | asset_url }}" alt="">
    <p class="text-h2 font-blod">Payment Success</p>
    <p class="text-body-xl font-regular">Thank you for choosing Modimal, Your order will be generated based on your delivery request. </p>
    <p class="text-body-xl font-regular">the Receipt has been sent to your email. </p>
    <p class="text-body-lg font-regular">Please Contact us for any query</p>
    <p class="text-body-sm">+1(929)460-3208</p>
    <p class="text-body-sm font-regular">or</p>
    <p class="text-body-sm">Hello @ modimal.com</p>

</section>
